<%- include ('../partials/tableHeader.html') %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <title>Admin all books </title>
    </head>

    <body>
        <div class="sidebar" id="sidebar">
            <%- include ('../partials/adminSidebar.html') %>
        </div>
        <section id="home-section">
            <nav id="navbar">
                <%- include ('../partials/adminNavbar.html') %>
                    <%- include ('../partials/alerts.html') %>
            </nav>
            <div id="admin-container">
                <div id="admin-container1">
                    <div class="t-container">
                        <div class="div">
                            <h4>OverDue Books</h4>
                            <div class="input-field">
                                <select id="overdue-department" required>
                                    <option>Select Department</option>
                                    <option>All Departments</option>
                                    <% if(department.length>0) { %>
                                        <% department.forEach(dept=> { %>
                                            <option>
                                                <%= dept %>
                                            </option>
                                            <% }); }else {%>
                                                <option>+ Add Department</option>
                                                <% }%>
                                                    <option>+ Add Department</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <button class="btn-e" style="width: 100px; font-weight: normal;" id="Active"
                                    onclick="getIssuedBooks()">Issued</button>
                            </div>
                            <div class="input-field">
                                <button class="btn-s" style="width: 100px; font-weight: normal;" id="In-Active"
                                    onclick="getReturnedBooks(id)">Returned</button>
                            </div>
                            <div class="input-field">
                                <button class="btn-download" title="Print List" onclick="printOverDueList()"><i
                                        class='bx bx-printer'></i></button>
                            </div>
                        </div>
                        <form class="searchIssueForm" autocomplete="off">
                            <div class="input-field" id="t-search">
                                <input type="text" name="search" placeholder="search-with-enrollment" required>
                                <button type="submit" id="sbtn"><i class='bx bx-search'></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="table-container">
                        <table class="table" id="mytable">
                            <thead id="t-head">
                                <tr class="unsolid">
                                    <th>P/F</th>
                                    <th class="name">Name</th>
                                    <th class="en-no">Enrollment No</th>
                                    <th>Acc No</th>
                                    <th>Book Name</th>
                                    <th>Issue Date</th>
                                    <th>Return Date</th>
                                    <th>Fines</th>
                                    <th>Book State</th>
                                    <th>View</th>
                                    <!-- <th>Options</th> -->
                                </tr>
                            </thead>
                            <tbody id="myTableRow">
                                <div class="myrow" style="position: relative;">
                                    <% var i_status=0 %>
                                        <% if (issues_count> 0 ) { %>
                                            <% issues.forEach(issued=> { %>
                                                <% if(issued.overDue){ %>
                                                    <tr class="gfgselect solid ">
                                                        <td class="img"><img src="/<%= issued.student_info.stud_img; %>"
                                                                alt="">
                                                        </td>
                                                        <td class="s-name name">
                                                            <%= issued.student_info.username; %>
                                                        </td>
                                                        <td class="en-no">
                                                            <%= issued.student_info.enrollment_no; %>
                                                        </td>
                                                        <td class="book-ac-no">
                                                            <%= issued.book_info.accession_no; %>
                                                        </td>
                                                        <td class="book_name">
                                                            <%= issued.book_info.book_title; %>
                                                        </td>
                                                        <td class="issue_date">
                                                            <% let date=new Date(issued.book_info.issueDate);
                                                                date=date.toLocaleDateString(); %>
                                                                <%= date %>
                                                        </td>
                                                        <td class="retrun_date">
                                                            <% let r_date=new Date(issued.book_info.returnDate);
                                                                r_date=r_date.toLocaleDateString(); %>
                                                                <%= r_date %>
                                                        </td>
                                                        <td class="fines">
                                                            <%= issued.student_info.fines; %> &#8377
                                                        </td>
                                                        <% if (!issued.isReturn) { %>
                                                            <td class="btns"><button class="btn-e"
                                                                    style="width: 100px; font-weight: normal;">Issued</button>
                                                                <% } %>
                                                            <td>
                                                                <button class="btn-s"
                                                                    style="width: 100px; font-weight: normal;"
                                                                    onclick="showIssuePopUp('<%= issued._id %>')">View</button>
                                                            </td>
                                                    </tr>
                                                    <% } %>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <% } %>
                                </div>
                            </tbody>
                        </table>
                    </div>
                    <div class="pop-up-container" id="pop-up-container"> </div>
                </div>
            </div>
        </section>
        <div style="display: none;">
            <div id="pdf"></div>
        </div>
        <script src="/js/d_app.js" type="text/javascript"></script>
        <script src="/js/tableFilter.js"></script>
        <script src="/js/popup.js"></script>
        <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
        <script src="/js/printPdf.js"></script>
    </body>

    </html>