<a href="/gps/hod">
    <div class="logo-details">
        <i class='bx bx-book-reader'></i>
        <span class="logo_name" style="display: flex; flex-direction: column;">Smart Library <span class="logo_name" style="font-size:8px;">HOD : <%= currentHod.username %> </span></span>
        
    </div>
    </a>
    <!-- Creating Menu or Submenu -->
    <div class="menu-container">
        <a href="/gps/hod">
            <div class="mainmenu" id="dasboard">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </div>
        </a>
    </div>
    <div class="log-out">
        <i class='bx bx-log-out'></i>
        <a href="/hodLogout" class="links_name">Logout </a>
    </div>