<div class="notification_drawer" id="notification_drawer" style="left:0%; top:120%;">
    <div class="main_head">
        <p class="head" style="cursor: pointer;"> Notifications </p><i class='bx bx-x'
            style="cursor: pointer; font-size: 20px;" onclick="showNotification()"></i>
    </div>
    <div id="all_notifications">
        <div class="not-box user" style="min-height:120px;">
            <div class="user-info" style="height:70px;">
                <div class="img book">
                    <img src="/java1.jpg" alt="">
                </div>
                <div class="dec user" style="padding-left: 5px;">
                    <div class="head" style="font-size: 13px;">Requested For : Java Learning LearningLearning</div>
                    <div class="para2">Lorem ipsum dolor sit amet.</div>
                </div>
            </div>
            <div class="actions">
                <button class="btn-s" style="width: 80%; font-weight: normal;" >Ok</button>
            </div>
        </div>
    </div>
</div>