<nav class="navbar">
    <a href="/user/1">
        <div class="logo">
            <i class='bx bx-book-reader'></i>
            <span class="logo_name">Smart Library</span>
        </div>
    </a>
    <div class="nav-menu">
        <li><a href="/user/1" class="a-menu">Home</a></li>
        <li><a href="https://curriculum.msbte.ac.in/msbteacmon/curdev/outer.php?q=get_lab_manuals" target="_blank" class="a-menu">Lab Manuals</a></li>
        <li><a href="/user/1/help/" class="a-menu">Help</a></li>
        <li class="li">
            <div class="a-menu">
                <span>Departments</span>
                <i class='bx bx-chevron-down'></i>
            </div>
            <ul class="submenu" style="width: 200px;">
                <% department.forEach(dept=> {  %>
                    <!-- <option><%= dept %></option> -->
                    <li style="width: 100%;"><a href="/user/1/dept/?dept=<%= dept %>"> <%= dept %></a></li>
                <% }); %>
            </ul>
        </li>
        <!-- <li class="li">
            <div class="a-menu">
                <span> Menu 2</span>
                <i class='bx bx-chevron-down'></i>
            </div>
            <ul class="submenu">
                <li><b>Submenu</b> </li>
                <li><a href="">s-menu 1</a> </li>
                <li><a href="">s-menu 2</a> </li>
                <li><a href="">s-menu 3</a> </li>
            </ul>
        </li> -->
        <!-- <li class="li">
            <div class="a-menu">
                <span> Menu 3</span>
                <i class='bx bx-chevron-down'></i>
            </div>
            <ul class="submenu">
                <li><b>Submenu</b> </li>
                <li><a href="">s-menu 1</a> </li>
                <li><a href="">s-menu 2</a> </li>
                <li><a href="">s-menu 3</a> </li>
            </ul>
        </li> -->
    </div>
    <div class="head-con">
        <div class="notification" onclick="showNotification()" style="cursor: pointer;">
            <i class='bx bx-bell'></i>
            <label for="" id="ntcount">0</label>
        </div>
        <%- include ('../partials/userNotification.html') %>
        
        <div class="profile">
            <img src="/<%= mystudent.stud_img  %> " alt="">
            <% 
                let name =  mystudent.username 
                let namearr = name.split(" ");
                let sername = namearr[1][0];
            %>
            <span class="admin_name">Wellcome <%= namearr[0]  %> <%= sername %>.</span>
            <i class='bx bx-chevron-down'></i>
            <ul class="submenu">
                <li><a href="/user/1/profile/">View Profile</a> </li>
                <input type="hidden" name="user_id" id="user_id" value="<%= mystudent._id %>">
                <li><a href="/userLogout">Logout</a> </li>
            </ul>
        </div>
    </div>
    <%- include ('../partials/alerts.html') %>
</nav>