<%- include ('../partials/studentHeader.html') %>
    <!-- <link rel="stylesheet" href="/style/profile.css"> -->
</head>
<body>
    <%- include ('../partials/userNavbar.html') %>
    <div class="landing-con">
        <div id="user-help-container">
            <div class="head">
                Help Center
            </div>
            <div class="help-info">
                <div class="service" >
                    <div class="list" data-aos="fade-right">
                        <div class="item">
                            <div class="no"></div>
                            <div class="info">Email : <a href="mailto:irashettig@gmail.com" class="info" style="color:#0054bd;">irashettig@gmail.com</a></div>

                        </div>
                        <div class="item">
                            <div class="no"></div>
                            <div class="info">Contact : 9881314340</div>
                        </div>
                        <div class="item">
                            <div class="no"></div>
                            <div class="info">Developers : Team E-SMART </div>
                        </div>
                        <div class="item">
                            <div class="no"></div>
                            <div class="info">Any Problem : <a href="/user/1/feedback" class="info" style="color:#0054bd;">Send In FeedBack</a></div>
                        </div>
                    </div>
                </div>
                <div class="img">
                    <img src="/help.png" alt="" data-aos="fade-right">
                </div>
            </div>
        </div>
    </div>
    <script src="/js/students.js"></script>
</body>

</html>